html {
  scroll-behavior: smooth;
}

.jumbotron {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(40, 40, 207);
  background-size: cover;
  height: 95vh;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 15px 0px;
  margin:  0px 15px;
  display: inline-block;
  position: relative;
  opacity: 0.75s;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before{
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031d44;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 5px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.skills {
  width: 100%;
  margin-bottom: 20px;
}

.fill {
  background-color: black;
  background-size: cover;
}

.about {
  font-size: 20px;
}

.container .card {
  max-width: 400px;
  height: 215px;
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition:  0.3s ease-in-out;
}

.container .card:hover {
  height: 450px;
}

.container .card .imgContainer {
  position: relative;
  width: 350px;
  height: 350px;
  top: -50px;
  left: 10px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgContainer img {
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

@media (max-width: 330px){
  .container .card .imgContainer {
    left: -2px;
  }
}

.dev-img:hover {
  
}

.btn1 {
  display: flex;
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #FFFFFf;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px auto;
}

.btn1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn1 span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn1:hover span {
  padding-right: 25px;
}

.btn1:hover span::after{
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 720px) {
  
}